Repository rjferguson21/bbundles, changes with the owners that CODEOWNERS names for each.
All owners: @defenseunicorns/uds-staging, @defenseunicorns/uds-core, @defenseunicorns/leapfrogai, @defenseunicorns/swf, @jeff-mccoy, @austenbryan

CODEOWNERS:

# At least for now, assign code ownership for the entire repository to a specific GitHub group
* @defenseunicorns/uds-staging

/bundles/base/* @defenseunicorns/uds-core

/bundles/lfai/* @defenseunicorns/leapfrogai

/bundles/swf/* @defenseunicorns/swf
/terraform/swf/* @defenseunicorns/swf

# Additional privileged files
/CODEOWNERS @jeff-mccoy @austenbryan
/LICENSE @jeff-mccoy @austenbryan

chore: build
  .github/workflows/test-base-bundle.yml
  .github/workflows/test-lfai-bundle.yml
  .github/workflows/test-swf-bundle.yml
Owners: @defenseunicorns/uds-staging

lint
  .github/workflows/pull-request-conditionals.yaml
  tasks.yaml
  tasks/lint.yaml
Owners: @defenseunicorns/uds-staging

lint task
  tasks.yaml
Owners: @defenseunicorns/uds-staging

lint task
  .github/workflows/pull-request-conditionals.yaml
Owners: @defenseunicorns/uds-staging

lint
  .github/workflows/pull-request-conditionals.yaml
  bundles/lfai/uds-config.yaml
  src/swf-deps-aws/manifests/rds/sonarqube-secret.yaml
  tasks/create.yaml
Owners: @defenseunicorns/uds-staging, @defenseunicorns/leapfrogai

lint
  bundles/swf/uds-bundle.yaml
Owners: @defenseunicorns/swf

ubuntu build
  .github/workflows/test-lfai-bundle.yml
Owners: @defenseunicorns/uds-staging

matrix
  .github/actions/bundle-build/bundle.yaml
  .github/workflows/pull-request-conditionals.yaml
  .github/workflows/test-base-bundle.yml
  .github/workflows/test-lfai-bundle.yml
  tasks.yaml
  tasks/deploy.yaml
Owners: @defenseunicorns/uds-staging

fix matrix
  .github/workflows/pull-request-conditionals.yaml
Owners: @defenseunicorns/uds-staging

fix matrix
  .github/workflows/pull-request-conditionals.yaml
Owners: @defenseunicorns/uds-staging

fix matrix
  .github/actions/bundle-build/action.yaml
  .github/workflows/pull-request-conditionals.yaml
Owners: @defenseunicorns/uds-staging

fix matrix
  .github/actions/bundle-build/action.yaml
  .github/actions/bundle/action.yaml
  .github/workflows/pull-request-conditionals.yaml
Owners: @defenseunicorns/uds-staging

callable
  .github/actions/bundle/action.yaml
  .github/workflows/bundle-callable.yaml
  .github/workflows/pull-request-conditionals.yaml
Owners: @defenseunicorns/uds-staging

callable
  .github/workflows/bundle-callable.yaml
  .github/workflows/pull-request-conditionals.yaml
Owners: @defenseunicorns/uds-staging
